.minesweeper {
    margin: 20px;
    border : 1px solid #000;
    width: 188px;
}

.minesweeper .scoreboard {
    background: #fff;
    width : 188px;
    height: 70px;
}

.minesweeper .game-board {
    width : 188px;
    height : 189px;
    background : #000;
}

.minesweeper .game-board .cell {
    width : 20px;
    height : 20px;
    display : inline-block;
    float : left;
    margin : 1px 1px 0 0;
    background : #808080;
    text-align : center;
}

.minesweeper .game-board .cell.flagged {
    background : #b3d4fc;
}

.minesweeper .game-board .cell.unsure {
    background : #b3d4fc;
}

.minesweeper .game-board .cell.unsure:before {
    content : "?"
}

.minesweeper .game-board .cell.clear {
    background : #fff;
}

.minesweeper .game-board .cell.mine {
    background : #fff;
}

.minesweeper .game-board .cell.mine:before {
    content : "*";
}

.minesweeper .game-board .cell.mine.death {
    background : #ff0000;
}

.minesweeper .game-board .cell.one {
    background : #fff;
    color : #00008b;
}

.minesweeper .game-board .cell.one:before {
    content: "1";
}

.minesweeper .game-board .cell.two {
    background : #fff;
    color : #228b22;
}

.minesweeper .game-board .cell.two:before {
    content: "2";
}

.minesweeper .game-board .cell.three {
    background : #fff;
    color : #ff0000;
}

.minesweeper .game-board .cell.three:before {
    content: "3";
}

.minesweeper .game-board .cell.four {
    background : #fff;
    color : #000;
}

.minesweeper .game-board .cell.four:before {
    content: "4";
}

.minesweeper .game-board .cell.five {
    background : #fff;
    color : #000;
}

.minesweeper .game-board .cell.five:before {
    content: "5";
}

.minesweeper .game-board .cell.six {
    background : #fff;
    color : #000;
}

.minesweeper .game-board .cell.six:before {
    content: "6";
}

.minesweeper .game-board .cell.seven {
     background : #fff;
     color : #000;
 }

.minesweeper .game-board .cell.seven:before {
    content: "7";
}

.minesweeper .game-board .cell.eight {
    background : #fff;
    color : #000;
}

.minesweeper .game-board .cell.eight:before {
    content: "8";
}

.minesweeper .game-board .cell.last-in-row {
    margin : 1px 0 0 0;
}
