<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Minesweeper</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="app" data-ng-app="kbMinesweeper" data-ng-controller="appController">
          <h1>Angular JS Minesweeper</h1>
          <div class="minesweeper">
            <div class="scoreboard">
              <div class="panel timer">
                <div class="display"></div>
                <p>{{time | date : 'mm:ss'}}</p>
              </div>
              <smiley-button ng-class="smileyFace"></smiley-button>
              <div class="panel mines-left">

                <div class="display">

                  <div class="10s-col"></div>
                  <div class="1s-col"></div>
                </div>
                <p>{{minesLeft}}</p>
              </div>
            </div>

            <div class="game-board" ng-style="gameBoard.width">
              <cell class="{{cell.state}}" data-ng-repeat="cell in gameBoard.cells"></cell>
            </div>
            <div ng-if="scoreBoard.gameStatus === 'You win!'" ng-include="'views/audio.html'"></div>
          </div>

          <div class="buttons">
            <h2>High scores</h2>
            <form>
              <ul>
                <li>
                  <label for="beginner">
                    <input name="level" id="beginner" type="radio" value="beginner" ng-model="level">
                    Beginner :
                  </label>
                  <span>{{highScores.beginner | date : 'mm:ss'}}</span>
                </li>
                <li><label for="intermediate">
                  <input name="level" id="intermediate" type="radio" value="intermediate" ng-model="level">
                  Intermediate :
                </label>
                <span>{{highScores.intermediate | date : 'mm:ss'}}</span>
                </li>
                <li>
                  <label for="expert">
                    <input name="level" id="expert" type="radio" value="expert" ng-model="level">
                    Expert :
                  </label>
                  <span>{{highScores.expert | date : 'mm:ss'}}</span>
                </li>
              </ul>
            </form>
          </div>
        </div>

        <!--<div style="display: none;">-->
            <!--<iframe width="640" height="360" src="//www.youtube.com/embed/MSrTnWDTdwI?feature=player_detailpage&autoplay=1" frameborder="0" allowfullscreen></iframe>-->
        <!--</div>-->

        <h3>todo:</h3>
        <ul>
          <li style="text-decoration: line-through">Calculate win/ correct number of mines correctly</li>
          <li>Timer and mines left</li>
          <li>Score (local storagte)</li>
          <li>game mode: switch between int, begginer and expert</li>
          <li>title/logo</li>
        </ul>

        <script src="js/vendor/angular.js"></script>
        <script src="js/vendor/angular-cookies.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src ="js/services.js"></script>
        <script src ="js/directives.js"></script>
    </body>
</html>
